body {
  margin: 0;
}

.container {
  height: 100vh;
  background-color: #ffb6c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive;
}

.love-img {
  width: 200px;
  margin-bottom: 20px;
}

h1 {
  color: #d6336c;
}

.buttons {
  margin-top: 30px;
  position: relative;
  height: 120px;
  width: 300px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.yes {
  background-color: #ff4d6d;
  color: white;
  margin-right: 20px;
}

.no {
  background-color: #adb5bd;
  position: absolute;
}
